<h1 class="title">Dashboard</h1>
<div class="card">
    <h3 class="title">Assignments</h3>
    <div ng-controller="AssignmentsCtrl">
        <ul>
            <li ng-repeat="assignment in assignments">
                <a ui-sref="assignments.assignment({id: assignment.id})">{{assignment.title}}</a>
                <div class="pull-right">due {{fromNow(assignment.due)}}</div>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <h3 class="title">Grades</h3>
    <ul>
        <li ng-repeat="grade in grades"><a ui-sref="grades.detail({id: grade.id})">{{grade.title}}</a><div class="pull-right">na%</div></li>
    </ul>
</div>
<div class="card">
    <h3 class="title">Classes</h3>
    <ul>
        <li><a ui-sref="dashboard">PHYS 2211 M</a></li>
    </ul>
</div>
