<!--TODO: back button-->
<!--
<p>This is the peer review page</p>
<button ng-click="controllerTest()">Controller Test</button>
<button ng-click="parentControllerTest()">Parent Controller Test</button>
-->

<h1>Peer Review</h1>
<p>{{$parent.curCourse.description}}</p>

<br/>

<form name="peerReview" ng-submit="save()">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" ng-model="curCourse.description" required>
    </div>
    <div class="dropdown">
        <label for="type">Type:</label>
        <select id="type" ng-model="curCourse.type" ng-options="typeOption for typeOption in typeOptions"></select>
    </div>
    <div class="form-group">
        <label for="instructions">Instructions:</label>
        <textarea class="form-control" id="instructions" ng-model="curCourse.instructions">
            {{curcourse.instructions}}
        </textarea>
    </div>
    <div class="form-group">
        <label for="due-date">Due date:</label>
        <!--
        <datepicker id="due-date" ng-model="curCourse.duedate"></datepicker>
        -->
        <div class="row" id="due-date">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox"/> Accept resubmissions
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox"/> Accept late submissions
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox"/> Visible
        </label>
    </div>
    <button type="submit" ng-click="save()">Save changes</button>
</form>
