<!--TODO: back button-->

<h1>Peer Review</h1>
<p>{{assignment.description}}</p>

<br/>

<form name="peerReview" ng-submit="save()">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" ng-model="assignment.description" required>
    </div>
    <div class="dropdown">
        <label for="type">Type:</label>
        <select id="type" ng-model="assignment.type" ng-options="typeOption for typeOption in typeOptions"></select>
    </div>
    <div class="form-group">
        <label for="instructions">Instructions:</label>
        <textarea class="form-control" id="instructions" ng-model="assignment.instructions">
            {{assignment.instructions}}
        </textarea>
    </div>
    <div class="form-group">
        <label>Due date</label>
        <input type="text" class="form-control" datepicker-popup="{{dueDateControl.format}}"
               ng-model="dueDateControl.dueDate" is-open="opened" ng-click="dueDateControl.open()"/>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" ng-model="assignment.allowResub"/> Accept resubmissions
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" ng-model="assignment.allowLate"/> Accept late submissions
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" ng-model="assignment.visible"/> Visible
        </label>
    </div>

    <table>
        <tr>
            <th>Label</th>
            <th>Remove</th>
            <th>Feedback</th>
        </tr>
        <tr ng-repeat="item in rubric">
            <td>{{item.question}}</td>
            <td><input type="checkbox" ng-model="item.remove"/></td>
        </tr>
    </table>

    <div class="form-group">
        <button type="submit" ng-click="save()">Save changes</button>
        <button ng-click="cancel($event)">Cancel</button>
    </div>

</form>
