// Globals:
$default-padding: 10px;

// Colors:
$clouds: #ecf0f1;
$asbestos: #7f8c8d;
$midnight-blue: #2c3e50;
$emerald: #2ecc71;
$turquoise: #1abc9c;
$green-sea: #16a085;
$peter-river: #3498db;
$silver: #bdc3c7;
$concrete: #95a5a6;

// Responsive:
$break-small: 640px;

