accordion {
    h4.panel-title {
        background-color: $silver;
        border-bottom: 1px solid darken($silver, 20);
        padding: $default-padding - 5px;

        a.accordion-toggle {
            cursor: pointer;
            display: block;
        }
    }
    div.panel-collapse {
        overflow: hidden;
    }
    div.panel-body {
        padding: $default-padding;
        border-bottom: 1px solid darken($silver, 20);
    }
}
