accordion {
    .panel-group {
        border: 1px solid $asbestos;
        border-bottom: none;
        border-radius: 3px;
    }
    h4.panel-title {
        background-color: $silver;
        border-bottom: 1px solid darken($silver, 20);
        padding: $default-padding - 5px;

        a.accordion-toggle {
            cursor: pointer;
            display: block;
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    div.panel-collapse {
        overflow: hidden;
    }
    div.panel-body {
        padding: $default-padding;
        border-bottom: 1px solid darken($silver, 20);
    }
}
