button {
  color: white;
  background-color: $turquoise;
  border-bottom: 3px solid $green-sea;
  font-size: 13px;
  padding: $default-padding - 5px;
  cursor: pointer;
  transition: 0.1s linear all;

  &:hover {
    background-color: darken($turquoise, 20);
  }
}