.card {
  border: 1px solid $silver;
  background-color: $clouds;
  border-bottom: 2px solid $concrete;
  padding: $default-padding - 5px;
  margin-bottom: $default-padding;
  overflow: hidden;
  display: block;
  color: black;
  text-decoration: none;
  transition: 0.1s linear all;

  .title {
    margin-bottom: 10px;
  }

  /*&:hover {
    background-color: darken($clouds, 5);
  }*/

  .status {
    float: right;
  }
}