// Local mixin:
@mixin common {
    border-radius: 0 0 5px 5px;
    border-color: $silver;
    padding: 3px;
    &:focus {
        border-color: $turquoise;
    }
}

button {
    border-radius: 5px;
    color: white;
    background-color: $green-sea;
    border-bottom: 3px solid darken($green-sea, 10);
    font-size: 13px;
    padding: $default-padding - 5px;
    cursor: pointer;
    margin-top: 3px;

    &:hover {
        background-color: lighten($green-sea, 5);
    }

    &:active {
        background-color: darken($green-sea, 5);
        border-color: darken($green-sea, 20);
    }
}

input {
    @include common;
    padding-bottom: 1px;
    border-bottom: 2px solid $silver;
}

textarea {
    @include common;
    border-radius: 5px;
    border: 2px solid $silver;
    display: block;
}

.section {
    margin-bottom: 10px;
}
