#main {
  @include container;
  margin-left: 222px;
  padding-top: 47px;

  h1.title {
    @include container-header($peter-river);
    color: white;
  }

  @media screen and (max-width: $break-small) {
    margin-left: 0;
  }
}