#sidebar {
  @include container;

  position: fixed;
  width: 200px;
  height: 100%;

  border-right: 2px solid darken($emerald, 15);
  background-color: $emerald;

  .title {
    @include container-header(darken($emerald, 10));
    color: white;
  }

  .button {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid darken($emerald, 10);

    &:hover {
      cursor: pointer;
      border-color: darken($emerald, 20);
    }
  }
}