#sidebar {
  @include container;

  position: fixed;
  margin-top: 39px;
  width: 200px;
  height: 100%;
  overflow: hidden;

  border-right: 2px solid darken($emerald, 15);
  background-color: $emerald;

  h1.title {
    @include container-header(darken($emerald, 10));
    color: white;
  }

  .button {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid darken($emerald, 10);
    text-decoration: none;
    color: black;

    &:hover {
      cursor: pointer;
      border-color: darken($emerald, 20);
    }
  }

  @media screen and (max-width: $break-small) {
    width: 0;
    padding: 0;
    border: none;
  }
}
