<h1 class="title">Dashboard</h1>
<div class="card">
    <h3 class="title">Assignments</h3>
    <div ng-controller="AssignmentsCtrl">
        <ul>
            <li ng-repeat="assignment in assignments">
                <a ui-sref="{{assignment.route}}">{{assignment.title}}</a>
                <div class="pull-right">due in 3 days</div>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <h3 class="title">Grades</h3>
    <ul>
        <li><a ui-sref="grades.grades">Lab 0 Calibration Training</a><div class="pull-right">100%</div></li>
        <li><a ui-sref="grades.grades">Lab 0 Peer Review Quiz</a><div class="pull-right">82%</div></li>
    </ul>
</div>
<div class="card">
    <h3 class="title">Classes</h3>
    <ul>
        <li><a ui-sref="dashboard">PHYS 2211 M</a></li>
    </ul>
</div>
