<h1 class="title">Grade Video</h1>
<div class="row">
    <div class="col-md-7">
        <h3>{{peerReview.video.title}}</h3>

        <div class="video-responsive">
            <youtube-video video-url="peerReview.video.url"></youtube-video>
        </div>
    </div>
    <div class="col-md-5">
        <h3>Grading Criteria</h3>
        <accordion close-others="true">
            <accordion-group ng-repeat="item in peerReview.criteria" heading="{{item.title}}">
                <p class="section">Rate this section:
                    <rating ng-change="save()" class="pull-right" ng-model="item.rating.rate" max="item.rating.max"></rating>
                </p>
                <p>
                    <textarea ng-change="save()" ng-model="item.feedback" style="width: 100%;">{{item.feedback}}</textarea>
                </p>
            </accordion-group>
            <accordion-group heading="Review and Submit">
                <div ng-repeat="item in peerReview.criteria" style="margin-bottom: 10px;">
                    <p>{{item.title}}
                        <rating ng-change="save()" class="pull-right" ng-model="item.rating.rate"></rating>
                    </p>
                    <p><i style="color:#b6b6b6">{{item.feedback}}</i></p>
                </div>
                <button type="submit">Finish grading</button>
                <button ng-click="reset()">Reset</button>
            </accordion-group>
        </accordion>
    </div>
</div>

