<h1 class="title">Grade Video</h1>
<div class="row">
    <div class="col-md-7">
        <h3>YouTube video title here</h3>
        <div class="video-responsive">
            <youtube-video video-url="videoUrl"></youtube-video>
        </div>
    </div>
    <div class="col-md-5">
        <h3>Grading Criteria</h3>
        <accordion close-others="true">
            <accordion-group heading="Organizational Structure">
                This is a test 2.
                <textarea name="" id="" cols="30" rows="10">Test</textarea>
            </accordion-group>
            <accordion-group heading="Content Models">
                This is a test 2.
            </accordion-group>
            <accordion-group heading="Content Prediction Discussion">
                This is a test 2.
            </accordion-group>
            <accordion-group heading="Content Overall">
                This is a test 2.
            </accordion-group>
            <accordion-group heading="Production Delivery">
                This is a test 2.
            </accordion-group>
            <accordion-group heading="Review and Submit">
                <p>This is a test 2.</p>
                <button type="submit">Submit grade</button>
            </accordion-group>
        </accordion>
    </div>
</div>

