<h1 class="title">Grade Video</h1>
<div class="pull-left" style="border: 1px solid black;">
    <h3>Left side</h3>
</div>
<div style="border: 1px solid black;">
    <h3>Right side</h3>
    <accordion close-others="true">
        <accordion-group heading="Organizational Structure">
            This is a test 2.
        </accordion-group>
        <accordion-group heading="Content Models">
            This is a test 2.
        </accordion-group>
        <accordion-group heading="Content Prediction Discussion">
            This is a test 2.
        </accordion-group>
        <accordion-group heading="Content Overall">
            This is a test 2.
        </accordion-group>
        <accordion-group heading="Production Delivery">
            This is a test 2.
        </accordion-group>
        <accordion-group heading="Review and Submit">
            This is a test 2.
        </accordion-group>
    </accordion>
</div>
