<h1 class="title">Title here {{curAssignment.title}}</h1>
<a class="card">
    <p collapse="isCollapsed" ng-hide="isCollapsed">{{rubric}}</p>
    <button ng-hide="isCollapsed" ng-click="hideReviews=false;isCollapsed = !isCollapsed" ng-init="hideReviews=true">
        Okay, show me the videos
    </button>
    <button ng-hide="!isCollapsed" ng-click="isCollapsed = !isCollapsed">Show the rubric</button>
</a>

<a class="card" ng-repeat="review in reviewList" ng-hide="hideReviews" ui-sref="gradeVideo">
    <h3>{{review.title}}</h3>
    <p>{{review.percentage}}% done</p>
</a>
